<div "vmart-groups">
  <each $rows>
    <div "product id-{ $id }">
      <a "{ $url }">
        <img $image "{ $image }" "thumb" alt=$title>
        <b "title">{ $title }</b>
      </a>

      <p "info">
        <span $n{ $country } "country">$item_n</endspan>
        <span $n{ $maker } "maker">$item_n</endspan>
      </p>

      <p "price">
        $=price $retail ?: $wholesale
        <span $n{ $price } "price">$item_n</endspan>
        <span $n{ $volume } "volume">$item_n</endspan>
      </p>
    </div>
  </each>
</div>