<each ${ array('name', 'surname', 'phone') }>
  <tr "$item">
    <th>{ __("vanemart::field.$item") }</th>
    <td>
      <input "$item" default={ @$$item }>
      <errors>
    </td>
  </tr>
</each>
<tr "address">
  <th>"vanemart::field.address"</th>
  <td>
    <textarea "address" defaulting>{ @$address }</textarea>
    <p "pick">"vanemart::checkout.pick"</p>
    <errors>
  </td>
</tr>
<tr "notes">
  <th>"vanemart::field.notes"</th>
  <td>
    <textarea "notes" defaulting>{ @$notes }</textarea>
    <errors>
  </td>
</tr>
