# Place to keep private unversioned project-related files
/ignore/
# Necessary if running locally under Apache/XAMPP
/.htaccess
# Symlinked to bundles/X/public
/public/bundles
# Only including core bundles
/bundles/*/
!/bundles/vane
!/bundles/vanemart

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea
