<form "vanemart::search@message" post class="vmart-search-message-form errorable">
  <p "b-info">
    <b>"vanemart::search.message.subtitle"</b> <br>
    "vanemart::search.message.legend"
  </p>

  <input name=from placeholder={ __('vanemart::search.message.placeholder') } size=40>
  <errors>

  $=tpl   isset($query) ? __('vanemart::search.message.template', $query) : ''
  <textarea name=message>$tpl</textarea>
  <errors>

  <submit class="big default">"vanemart::search.message.submit"</submit>
</form>