<!DOCTYPE html>
<html lang={ \Config::get('application.language') }>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta "viewport" "width=device-width, initial-scale=1.0">

    <title>{ isset($winTitle) ? $winTitle : $title }</title>

    <meta "description" "{ \Vane\Current::config('company.long') }">
    <meta "robots" "index,follow">
    <meta "generator" "VaneMart">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    {= $htmlStyles }

    <each $styles>
      <if substr($key, -5) !== '.less'>
        {= \HTML::style($key, $item) }
      <elseif Request::is_env('local')>
        $=hasLESS true
        <link "$key" rel="stylesheet/less">
      <else>
        {= \HTML::style(S::newExt($key, '.css'), $item) }
      </if>
    </each>

    <if isset($hasLESS)>
      <script>var less = {{env: 'development'};</script>
      <script "vanemart::less.js"></script>
    </if>

    <!--[if lt IE 9]>
      <script "vanemart::ie9.js"></script>
    <![endif]-->
  </head>
  <body "{ join(' ', (array) $classes) }">
    {= $content }

    <each $scripts>
      {= \HTML::script($key, $item) }
    </each>

    {= $htmlScripts }
  </body>
</html>