body {
  background: #F7FFF3;
  margin: 1em;
  font-family: sans-serif;
}

a { color: blue; }
a:hover { text-decoration: none; }
a.anchor { display: none; }
p { margin: 1em 0; }

hr, #header {
  border: 1px solid #C5D6B7;
}

hr {
  border-width: 1px 0 0 0;
  margin: 2em 0;
}

.clearer { clear: both; margin: 0; padding: 0; height: 0; overflow: hidden; }
#header a, #footer a, ul.files li { color: #6D8754; }

#header {
  margin: -1em -1em 1.25em;
  background: #E6EFDE;
  padding: 0.6em 1em 1em;
}

.vane-logo { font-style: italic; }
.vane-logo > a { float: left; margin-right: 20px; }
.vane-logo p { margin: 0.6em 0 0; }
.vane-logo p.short { font-weight: bold; }

#footer {
  color: #595959;
  font-size: 0.8em;
  border-top: 1px solid #C5D6B7;
  margin: 1em -1em 0;
  padding-top: 0.3em 1em 1em;
  text-align: center;
}

table.col-2 th {
  text-align: left;
  vertical-align: top;
  background: #E6EFDE;
  padding: 0.3em 1em 0.3em 0.5em;
}

table.col-2 td {
  padding: 0.3em 1em 0.3em 1em;
  background: white;
}

blockquote.post {
  margin: 1em;
  padding: 0.6em 1em;
  background: white;
}

blockquote.post + p.sign {
  background: white;
  color: #6D8754;
  font-size: 87.5%;
  font-style: italic;
  margin: -1em 0 1em 1em;
  padding: 0.25em 1em 1em;
}

ul.files li + li { margin-top: 0.25em; }
