@import 'normalize.css';

@import 'grid';
@gutter-width: 0;
@total-width: 100%;

/*-----------------------------------------------------------------------
| COMMON DEFINITIONS
|----------------------------------------------------------------------*/

html { height: 100%; }
body { .relative; font-size: 14px; min-height: 100%; }
textarea { font-family: @Courier; font-size: 95%; }
h1, h2, h3, h4, h5, h6 { .regular; margin: 0; }
p, ul { margin: 0; padding: 0; }
a { .noline; color: blue; }

/*-----------------------------------------------------------------------
| GENERAL LAYOUT
|----------------------------------------------------------------------*/

.row { .row(); }
.col (@columns) { .column(@columns); min-height: 1px; }
.span1, [class*=size-gold] { .col(1); }
.span2 { .col(2); }
.span3 { .col(3); }
.span4 { .col(4); }
.span5 { .col(5); }
.span6 { .col(6); }
.span7 { .col(7); }
.span8 { .col(8); }
.span9 { .col(9); }
.span10 { .col(10); }
.span11 { .col(11); }
.span12 { .col(12); }
.size-goldn { width: 38.2%; }
.size-goldw { width: 61.8%; }
