@import 'normalize.css';

@import 'grid';
@gutter-width: 0;
@total-width: 100%;

/*-----------------------------------------------------------------------
| COMMON DEFINITIONS
|----------------------------------------------------------------------*/

@Arial: Arial, Helvetica, sans-serif;
@Century: Century, "Times New Roman", Times, serif;
@Courier: Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", "Courier New",  monospace;
@Georgia: Georgia, "Palatino Linotype", "Book Antiqua3", Palatino, "Garamond Premr Pro", Garamond, Baskerville, "Hoefler Text", "Times New Roman", serif;
@Trebuchet: "Trebuchet MS", sans-serif;
@Verdana: Verdana, Geneva, sans-serif;

.round (@radius: 5px) {
  -o-border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

// From http://stackoverflow.com/questions/9436776/lesscss-method-with-ie-filter-alpha-opacity-css
.opacity (@alpha: 0) {
  @percents: percentage(@alpha);
  filter: ~"alpha(opacity = (@{percents}))";
  opacity: @opacity;
}

.shade-top { box-shadow: 0 2px 2px rgba(206, 206, 206, 0.75) inset; padding-top: 4px; }

.underline ()     { text-decoration: underline; }
.noline ()        { text-decoration: none; }
.bold ()          { font-weight: bold; }
.regular ()       { font-weight: normal; }
.italic ()        { font-style: italic; }
.straight ()      { font-style: normal; }
.top ()           { vertical-align: top; }
.middle ()        { vertical-align: middle; }
.bottom ()        { vertical-align: bottom; }
.relative ()      { position: relative; }
.absolute ()      { position: absolute; }
.nowrap ()        { white-space: nowrap; }
.upper ()         { text-transform: uppercase; }
.show (@style: block) { display: @style; }
.inline ()        { display: inline; }
.inline-block ()   { display: inline-block; }
.conceal ()       { visibility: hidden; }
.reveal ()        { visibility: visible; }
.hover ()         { &:hover { color: @hover; .hand; } }
.size (@size)     { .size(@size, @size); }
.size (@w, @h)    { width: @w; height: @h; }
.pos (@x: 0, @y: 0) { left: @x; top: @y; }
.right ()         { text-align: right; }
.center ()        { text-align: center; }
.hand ()          { cursor: pointer; }
.hide ()          { display: none; }

html { height: 100%; }
body { .relative; font-size: 14px; min-height: 100%; }
textarea { font-family: @Courier; font-size: 95%; }
h1, h2, h3, h4, h5, h6 { .regular; margin: 0; }
p, ul { margin: 0; padding: 0; }
a { .noline; color: blue; }

/*-----------------------------------------------------------------------
| GENERAL LAYOUT
|----------------------------------------------------------------------*/

.row { .row(); }
.col (@columns) { .column(@columns); min-height: 1px; }
.span1, [class*=size-gold] { .col(1); }
.span2 { .col(2); }
.span3 { .col(3); }
.span4 { .col(4); }
.span5 { .col(5); }
.span6 { .col(6); }
.span7 { .col(7); }
.span8 { .col(8); }
.span9 { .col(9); }
.span10 { .col(10); }
.span11 { .col(11); }
.span12 { .col(12); }
.size-goldn { width: 38.2%; }
.size-goldw { width: 61.8%; }
