<p ${ !$shownForAllManagers and $canFilterByManager } "vmart-orders-all-mgr">
  <a "vanemart::orders?for_all=1">"vanemart::order.index.show_for_all"</a>
</endp>

<ul $rows "v-rows vmart-orders">
  <li "status-$status { $current ? 'current' : '' } { $recent ? 'recent' : '' }" data-id=$id>
    $=created       HLEx::time(date('d.m.Y', $created_at), $created_at, true)
    $=updated       $updated_at ? HLEx::time(date('d.m', $updated_at), $updated_at) : ''
    $=counts        Str::langNum('general.goods', $count)
    $=sums          Str::langNum('general.price', $sum)
    $=status        __("vanemart::order.status.$status")

    <p "title">
      <a "$url">
        {= htmlLang('order.index.item_title', compact('id', 'created'), false) }
      </a>
    </p>

    <div "details">
      <p "from">
        <if $isManager> <a "vanemart::orders?by=$user"> </if>
        {= htmlLang('order.index.from', compact('name', 'surname')) }
        <if $isManager> </a> </if>
      </p>

      <p ${ !!$forManager } "manager">
        <b>{= htmlLang('order.index.for') }</b>

        <a "vanemart::orders?for={ $forManager['id'] }">
          {= htmlLang('order.index.for_manager', $forManager + array('n0' => S::first($forManager['name']))) }
        </a>
      </endp>

      <p "contents">
        {= htmlLang('order.index.count_sum', compact('counts', 'sums')) }
      </p>

      <p "status">
        <if $updated_at>
          {= htmlLang('order.index.info', compact('status', 'updated'), false) }
        <else>
          {= $status }
        </if>
      </p>
    </div>
  </li>
</endul>