<ul $rows "vmart-orders v-rows">
  <li "status-$status { $current ? 'current' : '' } { $recent ? 'recent' : '' }" data-id=$id>
    $=created
      <span "created">
        {= HLEx::time(date('d.m.Y', $created_at), $created_at, true) }
      </span>
    $^created

    $=updated
      <span $_{ $updated_at } "updated">
        {= HLEx::time(date('d.m', $updated_at), $updated_at) }
      </endspan>
    $^updated

    $=counts
      <span "count">
        {= HLEx::langNum('general.goods', $count) }
      </span>
    $^counts

    $=sums
      <span "sum">
        {= HLEx::langNum('general.price', $sum) }
      </span>
    $^sums

    $=status
      <span "status">
        { __("vanemart::order.status.$status") }
      </span>
    $^status

    <p "title">
      <a "$url">
        {= __('vanemart::order.index.item_title', $item + compact('created')) }
      </a>
    </p>

    <div "details">
      <p "from">
        { __('vanemart::order.index.from', compact('name', 'surname')) }
      </p>

      <p "contents">
        {= __('vanemart::order.index.count_sum', compact('counts', 'sums')) }
      </p>

      <p "status">
        <if $updated_at>
          {= __('vanemart::order.index.info', compact('status', 'updated')) }
        <else>
          {= $status }
        </if>
      </p>
    </div>
  </li>
</endul>