<form "vanemart::order/$id" "col-2 vmart-order status-$status">
  <csrf>

  <table "col-2 wide color">
    <tr "status">
      <th>"vanemart::field.status"</th>
      <td>
        <?php
          $statuses = S::keys(Order::statuses(), function ($status) {
            return array($status, __("vanemart::order.status.$status")->get());
          });
        ?>

        {= HLEx::select('status', $statuses, $status) }
        <errors "status">
      </td>
    </tr>
    <tr "sum">
      <th>"vanemart::order.total"</th>
      <td>{= langNum('general.price', $sum) }</td>
    </tr>
    <tr "link">
      <th>"vanemart::order.link"</th>
      <td>
        {= __('vanemart::order.link_text', array(HLEx::tag('a', $url), '</a>')) }
        <submit "relink" "flat">"vanemart::order.set.relink"</submit>
      </td>
    </tr>
    <include vanemart::block.checkout.fields>
    <tr "btn">
      <td colspan=2>
        <submit class=default>"vanemart::order.set.submit"</submit>
      </td>
    </tr>
  </table>
</form>