<table "col-2 wide color vmart-order">
  <tr "status">
    <th>"vanemart::field.status"</th>
    <td>{ __("vanemart::order.status.$status") }</td>
  </tr>
  <tr "sum">
    <th>"vanemart::order.total"</th>
    <td>{= langNum('general.price', $sum) }</td>
  </tr>
  <tr "link">
    <th>"vanemart::order.link"</th>
    <td>
      {= __('vanemart::order.link_text', array(HLEx::tag('a', $url), '</a>')) }
    </td>
  </tr>
  <each ${ array('name', 'surname', 'phone', 'city', 'address', 'notes') }>
    <tr "$item">
      <th>{ __("vanemart::field.$item") }</th>
      <td>{ @$$item }</td>
    </tr>
  </each>
</table>