<form "vanemart::login" "col-2 cmart-login">
  <if \Session::get('passthru')>
    <p "b-lock gen vmart-unauth">"vanemart::user.unauth.required"</p>
  </if>

  <p "b-info">"vanemart::user.login.legend"</p>

  <table "col-2 color">
    <tr>
      <th>"vanemart::field.email"</th>
      <td>
        <input "email" id=email class={ $ok === false ? 'invalid' : '' }>
        <errors>
        <ul ${ $ok === false } "errors">
          <if $reset_error == 'unknown_email'>
            <li>
              "vanemart::user.reset.unknown_email"
              <a "$reglink" class="to_reg">"vanemart::user.login.reg"</a> »
            </li>
          <elseif $reset_error>
            <li>
              "vanemart::user.reset.other_error"
            </li>
          <else>
            <li>"vanemart::user.login.wrong"</li>
          </if>
        </endul>

        <script>
          try {{ document.getElementById('email').focus() } catch (e) {}
        </script>
      </td>
    </tr>
    <tr>
      <th>"vanemart::field.password"</th>
      <td>
        <password "password" class={ $ok === false ? 'invalid' : '' } autocomplete=off>
    </tr>
    <tr>
      <th "no-bk" />
      <td>
        <label>
          <checkbox "remember" checked>
          "vanemart::user.login.remember"
        </label>
      </td>
    </tr>
    <tr "btn">
      <td colspan=2>
        <submit class=default>"vanemart::user.login.submit"</submit>
        <submit "to_reg">"vanemart::user.login.reg"</submit>
        <submit "to_reset">"vanemart::user.login.reset"</submit>
      </td>
    </tr>
  </table>
</form>
