<form "vanemart::register" "col-2 vmart-reg">
  <p "b-info">
    {= __('vanemart::user.reg.legend', array(HLEx::tag('a', route('vanemart::login')), '</a>')) }
  </p>

  <table "col-2 color">
    <each ${ array('name', 'surname', 'phone', 'city', 'email') }>
      <tr>
        <th>{ __("vanemart::field.$item") }</th>
        <td>
          <input "$item">
          <errors>
        </td>
      </tr>
    </each>
    <tr>
      <th>"vanemart::field.password"</th>
      <td>
        <password "password">
      </td>
    </tr>
    <tr>
      <th>"vanemart::user.reg.referee"</th>
      <td>
        <input "referee">
        <p "b-info">"vanemart::user.reg.reflegend"</p>
      </td>
    </tr>
    <tr "btn">
      <td colspan=2>
        <submit class=default>"vanemart::user.reg.submit"</submit>
        <submit "to_login">"vanemart::user.reg.ordered"</submit>
      </td>
    </tr>
  </table>
</form>
