<div "vmart-cart">
  <h1>"vanemart::cart.title"</h1>

  <form "vanemart::cart@set">
    <csrf>

    <if $rows>
      <table $rows "cart-goods">
        <tr>
          <th>
            №{= VaneMart\HLEx::number($i + 1) }
          </th>
          <td>
            <a "$url">
              <img $image "$image" "thumb" alt=$title>
              { $title }
            </a>
          </td>
          <td "qty">
            <input "id[$id]" value=$qty size=1>
          </td>
          <td "volume">
            $volume
          </td>
          <td "sum">
            {= VaneMart\HLEx::langNum(__('vanemart::general.price'), $sum) }
          </td>
          <td "btn">
            <a "vanemart::cart/clear/$id">"vanemart::cart.delete"</a>
          </td>
        </tr>
      </endtable>
    <else>
      <p "empty">"vanemart::cart.empty"</p>
    </if>

    <p "skus">
      <b>"vanemart::cart.from_skus"</b>
      <input "sku">
    </p>

    <p "btn">
      <submit "clear">"vanemart::cart.clear"</submit>
      <submit class=default>"vanemart::cart.update"</submit>
    </p>
  </form>
</div>