<div "vmart-product">
  <img $image "$image" "image" alt=$title>
  <div "bottom-folder" />

  <form "vanemart::cart@add">
    <csrf>

    <table "col-2 wide">
      <tr>
        <th>"vanemart::field.price"</th>
        <td>
          $=tretail     langNum('general.price', $retail)
          $=twholesale  langNum('general.price', $wholesale)

          <if $retail and $wholesale>
            {= htmlLang('product.index.prices', compact('tretail', 'twholesale'), false) }
          </if>
        </td>
      </tr>

      $=fields compact('sku', 'country', 'maker', 'volume')
      <each $fields>
        <if $item>
          <tr>
            <th>{ __('vanemart::field.'.$key) }</th>
            <td>$item</td>
          </tr>
        </if>
      </each>

      <tr "cart">
        <th>
          <input "id[$id]" "gen shade qty" id=qty default=1 onfocus="this.select()">
          &times; $volume

          <script>
            try {{ document.getElementById('qty').focus() } catch (e) {}
          </script>
        </th>
        <td>
          <submit class=default>
            <i "b-basket" />
            "vanemart::product.to_cart"
          </submit>
          <submit "checkout">
            <i "b-car" />
            "vanemart::product.to_checkout"
          </submit>
        </td>
      </tr>
    </table>
  </form>

  <div "textual">{= $desc_html }</div>
</div>
